<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="password">
      Password Reset
    </div>
  </ion-toolbar>
  </ion-header>

<ion-content>
<div class="reset-form">
  <div class="reset-info">
    <h2>Password Recovery</h2>
    <p>Enter your email below  to recover your password</p>
  </div>
  <form action="">
    <ion-input type="text" name="email" placeholder="email"><ion-icon name="mail" required></ion-icon></ion-input>
    <ion-button type="submit"  color="light" class="ion-text-center">SUBMIT</ion-button>
  </form>
</div>
</ion-content>
