ion-header {
  color: grey;
  border-bottom: 1px solid #80808000;
  ion-toolbar {
    ion-buttons {
      color: grey;
    }
    .password {
      position: relative;
      left: 21.5%;
      color: grey;
      letter-spacing: 2px;
      font-weight: bold;
    }
  }
}


div.reset-form {
  width: 100%;
  margin-top: 47%;
  .reset-info {
    h2 {
      color: grey;
      text-align: center;
    }
    p {
      box-sizing: border-box;
      width: 90%;
      margin: auto;
      color: grey;
      text-align: center;
    }
  }
  form {
  text-align: center;

    ion-input {
      color: grey;
      width: 80%;
      height: 44px;
      margin: auto;
   text-align: left;
   font-size: 20px;
   border: 1px solid #80808029;
   border-radius: 20px;
   margin-top: 20px;
   ion-icon {
     color: grey;
     margin-left: 9px;
     position: absolute;
   }
 }
ion-button {
  margin-top: 30px;
  width: 34%;
}
}
}

.sc-ion-input-ios-h {
  --padding-start: 36px;
}

.sc-ion-input-md-h {
    --padding-start: 33px;
}
