div.header {
  height: 41px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #BBBF49;
}

div.header .exit {
  width: 34%;
}

div.header .exit ion-buttons ion-back-button {
  color: white;
  font-weight: bold;
}

div.header div.reset {
  color: white;
  font-weight: bold;
}

div.reset-form {
  width: 100%;
  margin-top: 47%;
}

div.reset-form .reset-info h2 {
  color: grey;
  text-align: center;
}

div.reset-form .reset-info p {
  box-sizing: border-box;
  width: 90%;
  margin: auto;
  color: grey;
  text-align: center;
}

div.reset-form form {
  text-align: center;
}

div.reset-form form ion-input {
  width: 80%;
  height: 44px;
  margin: auto;
  text-align: left;
  font-size: 20px;
  border-bottom: 1px solid grey;
  margin-top: 20px;
}

div.reset-form form ion-input ion-icon {
  color: grey;
}

div.reset-form form ion-button {
  margin-top: 30px;
  width: 34%;
}
