ion-header {
  color: grey;
  border-bottom: 1px solid #80808000;
  ion-toolbar {
    ion-buttons {
      color: grey;
    }

    ion-title {
      color: grey;
      letter-spacing: 1px;
      font-weight: bold;
    }
  }
}

  div.upload-photo {
    width: 100%;
    background-color: white;
    text-align: center;
    img {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      margin:auto;
    }
    ion-button {
      width: 140px;
      margin-top: 20px;
    }
  }
  div.edit {
    width: 80%;
    margin: auto;
    padding-top: 10px;
    ion-icon[name="create"] {
      margin: 9px 10px 9px 0;
      margin-left: 95%;
    }
  }
    .profile {
      margin-top: 20px;
      width: 100%;
      height: 60%;
      .info {
         border-radius: 7px;
         height: 100%;
         width:100%;

      .infos {
        width: 100%;
        height: 24%;
        margin: auto;
        display: flex;
    align-items: center;
    margin-top: 20px;
        div.icon {
          display: inline-block;
          width: 10%;
          height: 100%;
          ion-icon {
            color: grey;
            font-size: 20px;

          }
        }
        div.data {
          width: 90%;
          height: 100%;
             display: inline-block;
             color: grey;
             text-align: center;
        }
      }
      }
    }
