div.header {
  height: 41px;
  width: 100%;
  display: flex;
  align-items: center;
  .back {
    display: inline-block;
    width: 37%;
    color: grey;
    ion-buttons {
      ion-back-button {
        color: grey;
        font-size: 20px;
      }
    }

  }
  .setting {
    width: 63%;
    height: 41px;
    display: flex;
    align-items: center;
    ion-icon {
      position: relative;
      left: 83%;
      top: 4px;
      color: grey;
      font-size: 18px;
    }
  }
}

  div.upload-photo {
    width: 100%;
    background-color: white;
    img {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      margin-left: 30%;
      margin-top: 10px;
    }
    ion-button {
      margin-left: 30%;
      margin-top: 20px;
    }
  }
  div.edit {
    width: 80%;
    margin: auto;
    padding-top: 10px;
    ion-icon[name="create"] {
      margin: 9px 10px 9px 0;
      margin-left: 95%;
    }
  }
    .profile {
      margin-top: 20px;
      width: 100%;
      height: 60%;
      .info {
         border-radius: 7px;
         height: 100%;
         width:90%;
         margin: auto;
         -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.26);
-moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.26);
box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.26);

      .infos {
        width: 80%;
        height: 24%;
        margin: auto;
        div.icon {
          display: inline-block;
          width: 50%;
          height: 100%;
          margin-top: 43px;
          ion-icon {
            color: grey;
            font-size: 26px;

          }
        }
        div.data {
          width: 50%;
             display: inline-block;
             color: grey;
             text-align: center;
        }
        &:nth-child(3){
          div.icon {
            width: 30%;
          }
          div.data {
            width: 70%;
            text-align: right;
            position: relative;
            bottom: 6px;
          }
        }
      }
      }
    }
