
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-icon (click)="presentActionSheet()"name="settings"></ion-icon>
  </ion-toolbar>
  </ion-header>
<ion-content>
     <div class="upload-photo">
         <img  class="profile_photo" [src]="userData.profile_photo"  alt=""/>
       <ion-button (click)="snapPic()">Change photo</ion-button>
     </div>
    <div class="profile">
      <div class="info">
        <div class="name infos">
          <div class="icon"><ion-icon name="person"></ion-icon></div>
          <div class="data">{{userData.first_name + " "+ userData.last_name}}</div>
        </div>
        <div class="username infos">
          <div class="icon"><ion-icon name="contact"></ion-icon></div>
          <div class="data">{{userData.username}}</div>
        </div>
        <div class="email infos">
          <div class="icon"><ion-icon name="mail"></ion-icon></div>
          <div class="data">{{userData.email}}</div>
        </div>
        <div class="number infos">
          <div class="icon"><ion-icon name="call"></ion-icon></div>
          <div class="data">{{userData.phone_number}}</div>
        </div>
      </div>
    </div>
</ion-content>
