<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="Jcenter">
      Job center
    </div>
  </ion-toolbar>
  </ion-header>
<ion-content>
  <ion-list>
    <ion-item lines="full" (click)="toPosted()">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Posted Jobs</ion-label>
      <ion-badge color="primary">{{postedJobs}}</ion-badge>
    </ion-item>
    <ion-item lines="full" (click)="toApplied()">
      <ion-icon name="checkmark-circle"></ion-icon>
      <ion-label>Jobs Applied</ion-label>
      <ion-badge color="primary">{{appliedJobs}}</ion-badge>
    </ion-item>
    <ion-item lines="full" (click)="toJobCompleted()">
      <ion-icon name="checkmark"></ion-icon>
      <ion-label>Completed Jobs</ion-label>
      <ion-badge color="primary">{{completedJobs}}</ion-badge>
    </ion-item>
    <ion-item lines="full" (click)="toApplicants()" >
      <ion-icon name="done-all"></ion-icon>
      <ion-label>Applicants</ion-label>
      <ion-badge color="primary">{{applicants}}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
