ion-header {
  color: grey;
  border-bottom: 1px solid #80808000;
}

ion-header ion-toolbar ion-buttons {
  color: grey;
}

ion-header ion-toolbar .Jcenter {
  position: relative;
  left: 28%;
  letter-spacing: 2px;
  font-weight: bold;
  color: grey;
}

ion-content ion-list {
  padding: 0;
}

ion-content ion-list ion-item {
  color: grey;
}

ion-content ion-list ion-item ion-badge {
  background-color: #e57373;
  margin-right: 7px;
}

ion-content ion-list ion-item ion-label {
  margin-left: 13px;
}

ion-content ion-list ion-item ion-icon {
  padding-left: 3px;
}
