ion-header {
  color: grey;
  border-bottom: 1px solid #80808000;
  ion-toolbar {
    ion-title {
      letter-spacing: 1px;
      color: grey;
      font-weight: bold;
    }
  }
}

ion-content {
  ion-list{

  padding: 0;
    ion-item {
      border: 0;
   ion-badge {
     background-color: #e57373;
     margin-right: 7px;
   }
      color: grey;
      ion-label {
        margin-left: 13px;
      }
      ion-icon {
      }
    }
  }
}

ion-buttons.buttons-first-slot.sc-ion-buttons-ios-h.sc-ion-buttons-ios-s.ios.hydrated {
    margin-left: 5px;
}
