<div class="header">
<div class="menu">
  <ion-menu-button></ion-menu-button>
</div>
<div class="c_title">Job Center</div>
</div>

<ion-content>
  <ion-list>
    <ion-item lines="full" (click)="toPosted()">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Posted Jobs</ion-label>
      <ion-badge color="primary">0</ion-badge>
    </ion-item>
    <ion-item lines="full" (click)="toApplied()">
      <ion-icon name="checkmark-circle"></ion-icon>
      <ion-label>Jobs Apllied</ion-label>
      <ion-badge color="primary">0</ion-badge>
    </ion-item>
    <ion-item lines="full" (click)="toJobCompleted()">
      <ion-icon name="checkmark"></ion-icon>
      <ion-label>Completed Jobs</ion-label>
      <ion-badge color="primary">0</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
