<div class='header'>
 <h2>QUICK JOBS</h2>
</div>
<div class="img_shadow">
  <ion-img [src]="iconLink" class="img"></ion-img>
  </div>
<ion-content>
  <form action="">
    <ion-input type="text" placeholder="username"><ion-icon name="person"></ion-icon></ion-input>
    <ion-input type="text" placeholder="password"><ion-icon name="key"></ion-icon></ion-input>
    <ion-button type="submit"  color="light" class="ion-text-center">LOGIN</ion-button>
  </form>
  <div class="forgot_p">
    <a (click)="toPasswordReset()">Forgot Password</a>
  </div>
  <div class="register">
      <a routerLink="/register">CREATE A NEW ACCOUNT</a>
  </div>
</ion-content>
