.--color {
  color: red;
}

.header {
 letter-spacing: 2px;
 padding-top: 28%;
 display: flex;
 justify-content: center;
 align-items: center;
  h2 {
     height: 100%;
     font-weight: 700;
     color: grey;
     bottom: 45px;
     position: relative
  }
}
.img_shadow{
  width: 80%;
  margin: auto;
  margin-bottom: 5%;
.img {
  width: 50%;
  margin:  0 auto;
}
}
form {
text-align: center;

  ion-input {
    width: 80%;
    height: 44px;
    margin: auto;
 text-align: left;
 font-size: 20px;
 border-bottom: 1px solid grey;
 margin-top: 20px;
 ion-icon {
   color:grey;
 }
  }
  ion-button {
margin-top: 40px;
width: 40%;
  }
}

.form_shadow {
width: 90%;
margin: auto;
}

div.forgot_p {
  text-align: center;
  margin-top: 10px;
  a {
    color: grey;
    text-decoration: none;
    font-size: 15px;
  }
}

div.register {
  margin-top: 20px;
 text-align: center;
 a {
   text-decoration: none;
   font-size: 14px;
   color: grey;
 }
}
