.--color {
  color: red;
}

.header {
  height: 39%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  border-bottom: 0;
}

.header .img_shadow {
  width: 80%;
  margin: auto;
  margin-bottom: 5%;
}

.header .img_shadow ion-img {
  width: 50%;
  margin: 0 auto;
  z-index: -2222;
  animation: opening-img 3s;
}

form {
  text-align: center;
}

form ion-input {
  color: grey;
  width: 80%;
  height: 44px;
  margin: auto;
  text-align: left;
  font-size: 20px;
  border: 1px solid #80808029;
  margin-top: 20px;
  border-radius: 20px;
}

form ion-input ion-icon {
  color: grey;
  margin-left: 9px;
  position: absolute;
}

form ion-button {
  margin-top: 40px;
  width: 30%;
}

.form_shadow {
  width: 90%;
  margin: auto;
}

div.forgot_p {
  text-align: center;
  margin-top: 10px;
}

div.forgot_p a {
  color: grey;
  text-decoration: none;
  font-size: 15px;
}

div.register {
  margin-top: 20px;
  text-align: center;
}

div.register a {
  text-decoration: none;
  font-size: 14px;
  color: grey;
}

.sc-ion-input-ios-h {
  --padding-start: 36px;
}

.sc-ion-input-md-h {
  --padding-start: 33px;
}

@keyframes opening-img {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
