<div class="header">
<div class="back">
  <ion-buttons slot="start">
        <ion-back-button defaultHref="/dashboard/home"></ion-back-button>
      </ion-buttons>
</div>
<div class="profile">
    profile
</div>
</div>
<ion-content>
  <ion-card>
    <ion-card-header>
      <div class="img_wrapper">
        <div class="img">
          <img [src]="user.photo" alt="profile photo">
        </div>
      </div>
      <div class="info">
        <div class="name">
         <ion-icon name="person"></ion-icon>
         {{user.name}}
        </div>
      </div>
    </ion-card-header>
    <ion-card-content>
      <h2> <ion-icon name="text"></ion-icon> Reviews</h2>
   <div *ngIf="!user.reviews?.length else elseBlock" class="noReviews"> no reviews available</div>
   <ng-template #elseBlock>
    <ion-list *ngFor="let reviews of user.reviews">
      <ion-item>
        <div class="user"><ion-icon name="contact"></ion-icon>
        {{reviews.poster_first_name+" "+reviews.poster_last_name}}</div>
        <div class="review">
          <p>
            {{reviews.review}}
          </p>
        </div>
      </ion-item>
    </ion-list>
     </ng-template>
    </ion-card-content>
  </ion-card>

</ion-content>
