ion-header {
  color: grey;
  border-bottom: 1px solid #80808000;
  ion-toolbar {
    .profile {
      ion-button {
        ion-back-button {
          color: grey;
        }
      }
      position: relative;
      left: 34%;
      letter-spacing: 2px;
      font-weight: bold;
      color: grey;
    }
  }
}
.sc-ion-buttons-md-h {
  color: grey;
}

ion-content {
  ion-card {
    ion-card-header {

      .img_wrapper{
        display: inline-block;
        width: 40%;
       .img {
         display: inline-block;
         width: 40%;
         height: 100px;
         width: 100px;
         border-radius: 50%;
         background-color: grey;
         margin-left: 21px;
         float: left;
         img {
           height: inherit;
           width: inherit;
           border-radius: 50%;
         }
       }
      }
      .info {
        display: inline-block;
          position: relative;
          top: 20px;
        width: 60%;
        height: 100px;
        float: right;
        div.name {
          margin-top: 25px;
         margin-bottom: 20px;
         ion-icon {
           font-size: 15px;
           position: relative;
           top: 4px;
           margin-left: 20px;
         }
        }

      }
    }
    ion-card-content{
      h2 {
        letter-spacing: 2px;
        text-align: center;
        ion-icon {
          position: relative;
          top: 3px;
        }
      }
      div.noReviews {
        text-align: center;
      }

      ion-list {
        ion-item {
          width: 100%;
          .user {
            width: 100%;
            display: block;
            width: 100%;
            position: absolute;
            top: 0;
            color: grey;
            p {
              width: inherit;
              span {
                margin-left: 8px;
               position: relative;
               bottom: 3px;
              }
            }
          }
          .review {
                margin-top: 14px;
            width: 100%;
            color: grey;
          }
        }
      }
    }
  }
}
