.header .back {
  width: 30%;
  display: inline-block;
  color: grey;
}

.header .profile {
  display: inline-block;
  color: grey;
  font-weight: bold;
  margin-top: 6px;
  margin-left: 53px;
}

ion-content ion-card ion-card-header .img_wrapper {
  display: inline-block;
  width: 40%;
}

ion-content ion-card ion-card-header .img_wrapper .img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 21px;
  float: left;
}

ion-content ion-card ion-card-header .img_wrapper .img img {
  height: inherit;
  width: inherit;
  border-radius: 50%;
}

ion-content ion-card ion-card-header .info {
  display: inline-block;
  position: relative;
  top: 20px;
  width: 60%;
  height: 100px;
  float: right;
}

ion-content ion-card ion-card-header .info div.name {
  margin-top: 25px;
  margin-bottom: 20px;
}

ion-content ion-card ion-card-header .info div.name ion-icon {
  font-size: 15px;
  position: relative;
  top: 4px;
}

ion-content ion-card ion-card-content h2 {
  letter-spacing: 2px;
  text-align: center;
}

ion-content ion-card ion-card-content h2 ion-icon {
  position: relative;
  top: 3px;
}

ion-content ion-card ion-card-content div.noReviews {
  text-align: center;
}

ion-content ion-card ion-card-content ion-list ion-item .user {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  color: grey;
}

ion-content ion-card ion-card-content ion-list ion-item .review {
  margin: 20px 0 0 20px;
  color: grey;
}
