ion-header {
  color: grey;
  border-bottom: 1px solid #80808000;
}

ion-header ion-toolbar .profile {
  position: relative;
  left: 34%;
  letter-spacing: 2px;
  font-weight: bold;
  color: grey;
}

ion-header ion-toolbar .profile ion-button ion-back-button {
  color: grey;
}

.sc-ion-buttons-md-h {
  color: grey;
}

ion-content ion-card ion-card-header .img_wrapper {
  display: inline-block;
  width: 40%;
}

ion-content ion-card ion-card-header .img_wrapper .img {
  display: inline-block;
  width: 40%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: grey;
  margin-left: 21px;
  float: left;
}

ion-content ion-card ion-card-header .img_wrapper .img img {
  height: inherit;
  width: inherit;
  border-radius: 50%;
}

ion-content ion-card ion-card-header .info {
  display: inline-block;
  position: relative;
  top: 20px;
  width: 60%;
  height: 100px;
  float: right;
}

ion-content ion-card ion-card-header .info div.name {
  margin-top: 25px;
  margin-bottom: 20px;
}

ion-content ion-card ion-card-header .info div.name ion-icon {
  font-size: 15px;
  position: relative;
  top: 4px;
  margin-left: 20px;
}

ion-content ion-card ion-card-content h2 {
  letter-spacing: 2px;
  text-align: center;
}

ion-content ion-card ion-card-content h2 ion-icon {
  position: relative;
  top: 3px;
}

ion-content ion-card ion-card-content div.noReviews {
  text-align: center;
}

ion-content ion-card ion-card-content ion-list ion-item {
  width: 100%;
}

ion-content ion-card ion-card-content ion-list ion-item .user {
  width: 100%;
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  color: grey;
}

ion-content ion-card ion-card-content ion-list ion-item .user p {
  width: inherit;
}

ion-content ion-card ion-card-content ion-list ion-item .user p span {
  margin-left: 8px;
  position: relative;
  bottom: 3px;
}

ion-content ion-card ion-card-content ion-list ion-item .review {
  margin-top: 14px;
  width: 100%;
  color: grey;
}
