<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="password">
      Password Change
    </div>
  </ion-toolbar>
  </ion-header>

<ion-content>
<div class="reset-form">
  <div class="reset-info">
    <p>Enter your {{passwordText}} password to change your password</p>
  </div>
  <form action="">
    <ion-input type="text" name="password" type="password" [(ngModel)]="passwordCheck.password" [hidden]="btn.check" placeholder="password"><ion-icon name="key" required></ion-icon></ion-input>
    <ion-input type="text" name="new_password" type="password" [(ngModel)]="passwordChange.password" [hidden]="btn.submit" placeholder="new password" ><ion-icon name="key" required></ion-icon></ion-input>
    <ion-button type="submit" (click)="checkPassword()"  [hidden]="btn.check" color="light" class="ion-text-center">CHECK</ion-button>
    <ion-button type="submit"  (click)="changePassword()" [hidden]="btn.submit" color="light" class="ion-text-center">SUBMIT</ion-button>
  </form>
</div>
</ion-content>
