ion-header {
  color: grey;
  border-bottom: 1px solid #80808000;
  ion-toolbar {
    ion-buttons {
      color: grey;
    }
    .settings {
      position: relative;
      left: 34%;
      letter-spacing: 2px;
      font-weight: bold;
      color: grey;
    }
  }
}


div.setting {
  color: grey;
  font-weight: bold;
}


ion-footer {
  color: #e57373;
  ion-list {
    padding: 0;
    ion-item {
      color: #e57373;
      ion-icon {
        color: #e57373;
        position: relative;
        top: 2px;
        margin-left: 10px;
      }
    }
  }
}


ion-content{
  ion-list {
      width: 100%;
    ion-item {
        &:nth-child(1){
          div.account_info {
            width: 100%;
            display: inherit;
            margin-bottom: 5px;
            div.my_photo {
              width: 30%;
              height: 120px;
              img {
                border-radius: 50%;
                width: 100px;
                height: 100px;
                display: inline-block;
              }
            }
            div.info {
              width: 70%;
              height: 120px;
              display: inline-block;
              p {
                margin:0;
                margin-bottom: 5px;
                color: grey;
                &:nth-child(1){
                  margin-top: 47px;
                }
                ion-icon {
                color: grey;
                margin-left: 5px;
                position: relative;
                 top: 3px;
              }
              }
            }
          }
        }

        &:nth-child(2){
          color: grey;
          ion-icon {
            position: relative;
            top: 2px;
            margin-left: 10px;
          }
        }
        &:nth-child(3){
          color: grey;
          ion-icon {
            position: relative;
            top: 2px;
            margin-left: 10px;
          }
        }
        &:nth-child(4){
          color: grey;
          ion-icon {
            position: relative;
            top: 2px;
            margin-left: 10px;
          }
        }
        &:nth-child(5){
          color: #e57373;
          ion-icon {
            position: relative;
            top: 2px;
            margin-left: 10px;
          }
        }
    }
  }
}

.list-ios {
  margin-bottom: 0;
  border-top: 1px solid #80808047;
}
