<div class="header">
<div class="menu">
  <ion-menu-button></ion-menu-button>
</div>
<div class="c_title">Payments</div>
</div>
<ion-content>
  <ion-card (click)="trial()">
    <ion-card-content>
      <div class="img">
        <ion-img [src]="iconLink" class="img"></ion-img>
      </div>
      <div class="plan">
        <h3>MEMBERSHIP</h3>
        <div class="plan_details">
            <h4><ion-icon name="cash"></ion-icon><sup>$</sup>1.99<sub>user/mo</sub></h4>
        </div>
      </div>
      <div class="status">
       <h2><ion-icon name="checkmark-circle"></ion-icon> Status: trial</h2>
      </div>
    </ion-card-content>
  </ion-card>
  <div class="payment" >
   <form>
     <h6> add a card to subscribe</h6>
     <ion-input [(ngModel)]="card.number" name="number" type="number" placeholder="card number" required></ion-input>
     <ion-input [(ngModel)]="card.expMonth" maxlength="2" min="01" max="12"pattern="([0-12])" name="card_exM" type="number" placeholder="month" required></ion-input>
     <ion-input [(ngModel)]="card.expYear" maxlength="2" min="19" max="50" name="card_exY" type="number" placeholder="year" required></ion-input>
     <ion-input [(ngModel)]="card.cvc" maxlength="3" name="cvc" type="number" placeholder="cvc" required></ion-input>
     <ion-button (click)="createToken()" [disabled]="true">Active now</ion-button>
   </form>
  </div>

</ion-content>
