<div class="header">
<div class="menu">
  <ion-menu-button></ion-menu-button>
</div>
<div class="c_title">Payments</div>
</div>
<ion-content>
  <ion-card>
    <ion-card-content>
      <div class="img">
        <ion-img [src]="iconLink" class="img"></ion-img>
      </div>
      <div class="plan">
        <h3>MEMBERSHIP</h3>
        <div class="plan_details">
            <h4><ion-icon name="cash"></ion-icon><sup>$</sup>1.99<sub>user/mo</sub></h4>
        </div>
      </div>
      <div class="status">
       <h2><ion-icon name="checkmark-circle"></ion-icon> Status: Not active</h2>
       <ion-button>Active now</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <div>
  </div>

</ion-content>
