<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="payments">
      Payments
    </div>
  </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card >
    <ion-card-content>
      <div class="img">
        <ion-img [src]="iconLink" class="img"></ion-img>
      </div>
      <div class="plan">
        <h3>MEMBERSHIP</h3>
        <div class="plan_details">
            <h4><ion-icon name="cash"></ion-icon><sup>$</sup>1.99<sub>user/mo</sub></h4>
        </div>
      </div>
      <div class="status">
       <h2><ion-icon name="checkmark-circle"></ion-icon> Status: trial</h2>
      </div>
    </ion-card-content>
  </ion-card>
  <div class="payment" >
   <form>
     <ion-button (click)="createToken()" [disabled]="true">Active now</ion-button>
   </form>
  </div>

</ion-content>
