div.header {
  height: 41px;
  width: 100%;
  display: flex;
  align-items: center;
}

div.header .menu {
  display: inline-block;
  margin: 7px 0 0 7px;
  width: 37%;
  color: grey;
}

div.header .c_title {
  display: inline-block;
  font-weight: bold;
  color: grey;
}

ion-content ion-card {
  height: 300px;
}

ion-content ion-card ion-card-content {
  padding: 0;
}

ion-content ion-card ion-card-content div.img {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  margin-top: 33px;
}

ion-content ion-card ion-card-content div.img ion-img {
  width: 90px;
}

ion-content ion-card ion-card-content div.plan {
  height: 70px;
}

ion-content ion-card ion-card-content div.plan h3 {
  text-align: center;
  margin: 0;
}

ion-content ion-card ion-card-content div.plan div.plan_details {
  text-align: center;
  width: 60%;
  margin: auto;
  border: 0.8px solid #D8D8D8;
  border-radius: 10px;
  margin-top: 7px;
}

ion-content ion-card ion-card-content div.plan div.plan_details h4 {
  font-weight: bolder;
  margin: 0;
  font-size: xx-large;
  height: 66px;
}

ion-content ion-card ion-card-content div.plan div.plan_details h4 ion-icon {
  font-size: 50px;
  color: #e57373;
  position: relative;
  top: 12px;
  margin-right: 15px;
}

ion-content ion-card ion-card-content div.plan div.plan_details h4 sub {
  font-size: 10px;
  color: #e57373;
}

ion-content ion-card ion-card-content div.plan div.plan_details h4 sup {
  font-size: 19px;
}

ion-content ion-card ion-card-content div.status {
  text-align: center;
  margin-top: 32px;
}

ion-content ion-card ion-card-content div.status h2 ion-icon {
  position: relative;
  top: 3px;
}

ion-content div.payment form {
  margin-top: 80px;
}

ion-content div.payment form h6 {
  color: #8080809e;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

ion-content div.payment form ion-input {
  width: 75%;
  border: 1px solid #80808061;
  margin: auto;
  border-radius: 5px;
  margin-top: 9px;
}

ion-content div.payment form ion-input:nth-child(3) {
  width: 24%;
  display: inline-block;
  margin-left: 50px;
  margin-right: 8px;
}

ion-content div.payment form ion-input:nth-child(4) {
  width: 24%;
  display: inline-block;
  margin-right: 8px;
}

ion-content div.payment form ion-input:nth-child(5) {
  width: 24%;
  display: inline-block;
}

ion-content div.payment form ion-button {
  margin-top: 20px;
  position: relative;
  left: 33%;
  --background: #e57373 !important;
}
