div.header {
  height: 41px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #BBBF49;
}

div.header .exit {
  width: 40%;
}

div.header .exit ion-buttons ion-back-button {
  color: white;
  font-weight: bold;
}

div.header div.post {
  color: white;
  font-weight: bold;
}
