.take_picture {
  display: block;
  width: 20%;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 5px;
}

ion-header {
  color: grey;
  border-bottom: 1px solid #80808000;
}

ion-header ion-toolbar ion-buttons {
  color: grey;
}

ion-header ion-toolbar .post {
  position: relative;
  left: 38%;
  color: grey;
  letter-spacing: 2px;
  font-weight: bold;
}

ion-content div.title h4 {
  text-align: center;
  color: grey;
  font-weight: bold;
}

ion-content div.form form label {
  color: grey;
  margin-left: 20px;
}

ion-content div.form form ion-input {
  color: grey;
  width: 90%;
  height: 40px;
  margin: auto;
  text-align: left;
  font-size: 20px;
  border: 1px solid #8080806b;
  border-radius: 20px !important;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}

ion-content div.form form div.submit {
  text-align: center;
  margin-bottom: 10px;
}

ion-content div.form form ion-datetime {
  color: grey;
  width: 90%;
  height: 40px;
  margin: auto;
  font-size: 20px;
  border: 1px solid #8080806b;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

ion-content div.form form ion-textarea {
  color: grey;
  width: 90%;
  font-size: 20px;
  border: 1px solid grey;
  margin: auto;
  border: 1px solid #8080806b;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

ion-content div.form form div.images {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 120px;
  width: 90%;
  border-bottom: 1px solid grey;
  border-radius: 3px;
  overflow-x: auto;
  white-space: nowrap;
  overflow-y: hidden;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-content div.form form div.images ion-item {
  display: inline-block;
  height: inherit;
  width: auto;
}

ion-content div.form form div.images ion-item ion-thumbnail {
  margin: 0;
  height: inherit;
  width: 90px;
}

ion-content div.form form div.images ion-item ion-thumbnail ion-icon {
  position: relative;
  background-color: #e57373;
  color: white;
  border-radius: 50%;
  left: 90%;
  top: 15px;
}

ion-content div.form form div.images h3 {
  color: grey;
}

ion-content div.form form ion-list ion-list-header {
  color: grey;
  font-size: 16px;
}

.sc-ion-input-ios-h {
  --padding-start: 10px;
}

.sc-ion-textarea-ios-h {
  --padding-start: 10px;
}
