<div class="header">
  <div class="exit">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard/home"></ion-back-button>
    </ion-buttons>
  </div>
  <div class="post">
    Post
  </div>
</div>

<ion-content>
  <div class="title">
     <h4 >{{ pageTitle | uppercase }}</h4>
  </div>
  <div class="form">
     <form action="">
       <label for="job title">Job Title</label>
  <ion-input type="text" placeholder="Job Title"></ion-input>
  <label for="job description">Job Description</label>
   <ion-textarea rows="7"  placeholder="Job Description"></ion-textarea>
   <label for="images upload">Upload Job Images</label>
   <div class="images">

   </div>
   <label for="start">Start date:</label>
   <ion-datetime display-format="MMM DD, YYYY" value="1990-02-19"></ion-datetime>
   <label for="time">Time</label>
   <ion-datetime display-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
   <div class="location">
     <div class="zip-code">
       <label for="zipcode"> Enter zip code or use Geolocation</label>
       <ion-input type="number" placeholder="Zip code"> </ion-input>
        <ion-toggle color="primary"></ion-toggle>
     </div>
   </div>

<label for="payment"> Price</label>
<ion-input type="number">&nbsp; $ </ion-input>
<div class="submit">
    <ion-button type="submit"  color="light" class="ion-text-center">SUBMIT</ion-button>
</div>
     </form>
  </div>


</ion-content>
