<div class="header">
  <div class="exit">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </div>
  <div class="reset">
    Password Reset
  </div>
</div>

<ion-content>
<div class="reset-form">
  <div class="reset-info">
    <h2>Password Recovery</h2>
    <p>Enter your email below to reset to recover your password</p>
  </div>
  <form action="">
    <ion-input type="text" name="email" placeholder="email"><ion-icon name="mail" required></ion-icon></ion-input>
    <ion-button type="submit"  color="light" class="ion-text-center">SUBMIT</ion-button>
  </form>
</div>
</ion-content>
