div.header {
  width: 100%;
  height: 30%;
  background-color: #BBBF49;
  display: flex;
}

div.header .img {
  height: 100%;
  width: 47%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.header .img img {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  background-color: white;
  background-size: 10%;
}

div.header .name {
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-weight: bold;
}

div.header .arrow {
  float: right;
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.header .arrow ion-icon {
  color: white;
}

ion-list.list {
  padding: 0;
  height: 100%;
}

div.menu_nav ul {
  list-style: none;
  margin-top: 40px;
}

div.menu_nav ul li {
  margin-bottom: 30px;
  height: 36px;
}

div.menu_nav ul li a {
  height: 36px;
  width: inherit;
  text-decoration: none;
  font-size: 18px;
  font-weight: 100;
  color: #0D0D0D;
}

div.menu_nav ul li a ion-badge {
  background-color: #e57373;
  border-radius: 5px;
  padding: 3px;
  margin-left: 8px;
}

div.menu_nav ul li ion-icon {
  color: grey;
  margin-right: 6px;
  font-size: 18px;
  position: relative;
  top: 3px;
}

div.menu_nav ul li ion-icon:nth-child(1) {
  font-size: 20px;
}

div.menu_nav ul li:nth-child(1) {
  margin-top: 30%;
}

div.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

div.footer ul {
  list-style: none;
}

div.footer ul li {
  width: 100%;
  height: 36px;
}

div.footer ul li a {
  color: grey;
}

div.footer ul li ion-icon {
  color: grey;
  margin-right: 6px;
  font-size: 18px;
  position: relative;
  top: 3px;
}
