ion-back-button {
  color: grey;
}

ion-toolbar ion-buttons {
  width: 34%;
}

ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-content div.register_text {
  text-align: center;
}

ion-content div.register_text h3 {
  color: grey;
  letter-spacing: 2px;
  font-weight: 700;
}

ion-content .register_text {
  text-align: center;
}

ion-content .register_text h3 {
  margin: 0;
  font-weight: 700;
  color: grey;
  letter-spacing: 2px;
}

ion-content .back_to_login {
  text-align: center;
  margin-top: 10px;
}

ion-content .back_to_login a {
  text-decoration: none;
  font-size: 13px;
  color: grey;
}

div.form form {
  text-align: center;
}

div.form form ion-input {
  width: 80%;
  height: 44px;
  margin: auto;
  text-align: left;
  font-size: 20px;
  border-bottom: 1px solid grey;
  margin-top: 20px;
}

div.form form ion-input ion-icon {
  color: grey;
}

div.form form ion-input:nth-child(1) {
  margin-top: 40px;
}

div.form form ion-button {
  margin-top: 30px;
  width: 40%;
}
