ion-img{
  width: 85px;
  float: right;
}

ion-back-button {
  color: grey;
}

ion-content {
  .register_text {
    text-align: center;
    h2 {
    margin: 0;
    font-weight: 700;
    color: grey;
    letter-spacing: 2px;
    }
  }
  .back_to_login {
    text-align: center;
    margin-top: 10px;
    a {
      text-decoration: none;
      font-size: 13px;
      color: grey;
    }
  }
}

div.form {
  form {
  text-align: center;

    ion-input {
      width: 80%;
      height: 44px;
      margin: auto;
   text-align: left;
   font-size: 20px;
   border-bottom: 1px solid grey;
   margin-top: 20px;
   ion-icon {
     color:#BBBF49;
   }
    }
    ion-button {
  margin-top: 40px;
  width: 34%;
    }
  }
}
