ion-header {
  color: grey;
  border-bottom: 1px solid #80808000;
  ion-toolbar {
    ion-buttons {
      color: grey;
    }
    .register {
      position: relative;
      left: 28%;
      color: grey;
      letter-spacing: 2px;
      font-weight: bold;
    }
  }
}

ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  .register_text {
    text-align: center;
    h3 {
    margin: 0;
    font-weight: 700;
    color: grey;
    letter-spacing: 2px;
    }
  }
  .back_to_login {
    text-align: center;
    margin-top: 10px;
    a {
      text-decoration: none;
      font-size: 13px;
      color: grey;
    }
  }
}

div.form {
  form {
  text-align: center;
margin-top: 80px;
    ion-input {
      width: 80%;
      height: 44px;
      margin: auto;
   text-align: left;
   font-size: 20px;
   border-bottom: 1px solid grey;
   margin-top: 20px;
   ion-icon {
     color: grey;
   }
   &:nth-child(1){
     margin-top: 40px;
   }
    }
    ion-button {
  margin-top: 30px;
  width: 40%;
    }
  }
}
