div.header {
  height: 41px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  .menu {
    display: inline-block;
    margin: 7px 0 0 7px;
    width: 37%;
    color: grey;
  }
  .c_title {
    display: inline-block;
    font-weight: bold;
    color: grey;
  }
}

.input-wrapper {
  display: unset !important;
}
ion-content {
  .noApplicants {
    color: grey;
    text-align: center;
  }
  ion-list {
    ion-item {
      div.item-native {
        display: none;
      }
      ion-card {
        width: 100%;
        ion-card-header {
          .profile {
            float: right;
margin-right: 17px;
border: 1px solid #80808073;
padding: 3px;
border-radius: 5px;
color: #80808073;
          }
          padding: 0;
          .info {

            margin-left: 20px;
            p {
              ion-icon {
                position: relative;
                top: 2px;
              }
            }
          }
          .job_title {

            margin-left: 20px;
            p {
              ion-icon {
                position: relative;
                top: 2px;
                margin-right: 4px;
              }
            }
          }
        }
        ion-card-content {
          padding: 0;
          text-align: center;
          ion-button {
            width: 35%;
            height: 30px;
            margin-bottom: 12px;
            &:nth-child(2){
              margin-left: 64px;
            }
          }
        }
      }
    }
  }
}

ion-textarea-ios {
    height: inherit;
}

ion-title {
    height: 100%;
    padding: 0;
    position: relative;
    right: 29px;
    color: grey;
    font-size: 15px;
}

ion-title.md.title-md.title-small.hydrated {
    margin-left: 25px;
}
