<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="dashboard/job-center"></ion-back-button>
      </ion-buttons>
        <ion-title size="small">Applicants</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="!applicants?.length else elseBlock" class="noApplicants"> You currently have no applicants</div>
  <ng-template #elseBlock>
 <ion-list>
    <ion-item lines="none" *ngFor="let app of userData.applicants">
      <ion-card >
        <ion-card-header>
          <div class="profile" (click)="toProfile(app.applicant_id)">profile</div>
          <div class="info">
            <p> <ion-icon name="person"></ion-icon> {{app.applicant_first_name+" "+app.applicant_last_name}}</p>
          </div>
          <div class="job_title">
            <p> <ion-icon name="hammer"></ion-icon>{{app.applicant_job_title}}</p>
          </div>
        </ion-card-header>
        <ion-card-content>
   <ion-button (click)="openReviewPage(app._id)">add a review</ion-button>
   <ion-button color="danger" (click)="deleteAppli(myId,app._id)">delete</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-item>
    </ion-list>
  </ng-template>
</ion-content>
